body {

}

@linkColor: #ff0000;

.agi-div-background {

  width:100vw;
  height:100vh;
  background:white;

}


.inverse {
  color:#eee;
  background-color:555;
}

.control-panel input {
  margin-bottom:2px;
}
